@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
.header {
  padding: 10px;
  width: 100%;
  background-color: burlywood;
  position: sticky;
  top: 0;
}
.logo {
  font-size: 30px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  font-style: italic;
  text-align: center;
  text-decoration: underline double;
}
.card {
  display: inline-block;
  width: 300px;
  padding: 20px;
  margin: 70px;
  box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.25);
  /* border: 2px solid red; */
  /* height: 200px; */
  /* width: 200px; */
  /* background-color: rgb(54, 30, 0);
background-color: #f45cde;
background-color: hsl(90deg, 100%, 50%); When you reduce the brighness to the lowest, you get black, but when you increase the brighness to the highest, you get white */
}
.card figure {
  max-width: 300px;
  width: 100%;
  height: 300px;
  /* border-radius: 20px; */
  opacity: 0.5;
}
.card figure img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.card button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: lightblue;
  border-color: lightblue;
}
#home {
  height: 100vh;
  width: 100%;
  background-color: #0000ff;
  background: linear-gradient(
    45deg,
    red 20%,
    #a0032a 40%,
    rgb(127, 0, 255) 90%
  );
  background: radial-gradient(
    closest-side at 60% 40%,
    rgb(0, 255, 127),
    #00c3f4
  );
  background-image: url("https://plus.unsplash.com/premium_photo-1709311897767-f6ce7e1fc227?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-repeat: no-repeat;
  background-position: 50% 70%;
  background-attachment: fixed;
}
#home h1 {
  color: #000000;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
}
#home p {
  color: #ffffff;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
/* #home p::first-letter{
    font-size: 100px; 
}*/
#home p::selection {
  background-color: #d04c00;
}
#home div {
  padding: 100px 0;
}
#home button {
  font-size: 20px;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  background-color: #ffffff;
  /* position: sticky;
  top: 0; */
}
button {
  cursor: pointer;
}
#product {
  margin: 30px 0;
}
#product h2 {
  text-align: center;
}
.product-desc {
  margin: 10px 0;
}
.navlink {
  text-decoration: none;
}
label,
input,
textarea {
  display: block;
}
/*selecting the paragraph inside the anchor tag with the class "navlink"*/
.navlink p,
.logo,
nav {
  display: inline-block;
}
.nav {
  margin-left: 40%;
}
.navlink p {
  /* margin: 30px; */
  padding: 15px 20px;
  position: relative;
}
/* .navlink p:hover {
  color: #ffffff;
  background-color: #000000;
} */
.navlink p::after{
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0px;
  border-bottom: 5px solid blueviolet;
  scale: 0;
  transition: 500ms ease-in;
}
.navlink p:hover::after{
  scale: 1;
}
ul {
  text-align: center;
  /* margin: 0 auto; */
  padding: 20px;
}
/* styling for blog */
#blog ul {
  list-style: none;
  /* list-style-image: url(Logo.jpg); */
}
#blog ul li {
  display: inline-block;
  padding: 15px 40px;
}
#blog div p:nth-child(Odd) {
  color: red;
}
.abc:visited {
  color: plum;
}
.req::after {
  content: "*";
  color: red;
}
label::after {
  content: "(Optional)";
  color: lightgray;
}
.fa-comments {
  font-size: 30px;
  color: plum;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.pos {
  height: 400px;
  border: 2px solid burlywood;
  position: relative;
}
.box1,
.box2 {
  height: 200px;
  width: 200px;
  background-color: brown;
  z-index: 5;
  position: relative;
  top: 10px;
}

.box2 {
  background-color: burlywood;
  position: absolute;
  top: 0;
  z-index: 1;
  /* position: relative;
  left: 10px;
  top: 10px; */
}
.box3 {
  width: 100px;
  height: 100px;
  background-color: indianred;
  position: relative;
  left: 750px;
  transform: rotate(45deg);
}
.box4 {
  width: 200px;
  height: 200px;
  background-color: #20cf4d;
  /* old way */
  transform: translate(
    100px,
    -100px
  ); /* The first one is the x-axis, while the second one is the y-axis */

  /*This won't work bc of cascading, inorder to avoid this, put them on the same line, by separating them with a space*/
  transform: translateX(100px);
  transform: translateY(-100px);
  /*Write them like this;*/
  transform: translateX(100px) translateY(-100px);
  transform: rotate(45deg) translate(100px, -100px) scale(1);

  /* new way */
  translate: 100px -100px; /*This will not cascade, rather add another 100px to the existing 100px. This is bc cascading is due to the property, and "translate" and "transform" are different properties*/
}
.box3::before {
  content: "";
  height: 100px;
  width: 100px;
  background-color: red;
  position: absolute;
  left: -50px;
  border-radius: 100%;
}

.box3::after {
  content: "";
  height: 100px;
  width: 100px;
  background-color: red;
  position: absolute;
  top: -50px;
  border-radius: 100%;
}
.text-cont {
  height: 50px;
  /* width: 200px; */
  border: 2px solid black;
  overflow-y: scroll;
  margin-top: 150px;
  /* overflow: auto; */
  /* overflow-x: scroll; */
}
